html, body {
    overflow: hidden;
    width: 100%;
    height:100%;
    margin: 0;
    padding:0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
#renderCanvas {
    width: 100%;
    height:100%;
    touch-action: none;
}
.ncw_btn {
    width: fit-content;
    height:fit-content;
    background-color: #3071a9;
    color: blanchedalmond;
    border: 2px solid blanchedalmond;
    border-radius: 5px;
    padding: 0.5vh 0.5vw;
    text-align: center;
}
.ncw_btn:hover {
    border: 2px solid white;
}
#DebugPanel {
    position: fixed;
    background-color: black;
    text-align: center;
    font-size: 1.2vh;
    color: white;
    top: 1px;
    right: 1px;
    width: 3vw;
    display: grid;
}
.dbg_txt {
    height: 2vh;
}
#MainMenu {
    position: fixed;
    top: 0vh;
    left:0vw;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("../assets/images/menu_back.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}
#MenuPanel {
    position: fixed;
    top: 25vh;
    left:30vw;
    width: 40vw;
    height:50vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #8F644944;
    border-radius: 5%;
    border: 2px solid blanchedalmond;
    text-shadow: 1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
    font-size: 2.5vh;
    color: blanchedalmond;
}
#GameGUI {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: blanchedalmond;
    text-shadow: 1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}
#HelpPanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 12vw;
    height: 8vh;
    background-color: #8F644933;
    font-size: 1.0vw;
    line-height: 2.5vh;
    padding: 0.5vh 0.5vw;
    display: none;
}
#InfoPanel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 8vw;
    height: 6vh;
    background-color: #8F644933;
    font-size: 1.2vw;
    line-height: 2.8vh;
    padding: 1.0vh 1.0vw;
    display: none;
}
#TutorPanel {
    position: fixed;
    top: 12vh;
    left: 0;
    width: 14vw;
    height: 5vh;
    background-color: #8F644933;
    font-size: 1.0vw;
    line-height: 2.4vh;
    padding: 0.5vh 0.5vw;
    display: none;
}